@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.custom-shape-divider-top-1653228938 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    /*line-height: 0;*/
}

.custom-shape-divider-top-1653228938 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 67px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1653228938 .shape-fill {
    fill: #4682B4;
}

.paises{
    display: flex;
}

.conteudoGlobal{
    width: 70%;
    margin-left: 10px;
    /*height: 200px;*/
    /* border: 1px black solid; */
}
.conteudoFavoritos{
    width: 70%;
    margin-left: 10px;
    height: 200px;
    /*border: 1px black solid;*/
}
img{
    width: 150px;
    margin-right: 20px;
}

.conteudo{
    display: flex;
    margin: 20px;
}
.add:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(84, 222, 128, 0.664);
    transition: 0.4s;
}
.del:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(139, 0, 0, 0.473);
    transition: 0.4s;
}
.cont{
    margin-left: 10px;
    /* border: 1px red solid */
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gray;
    transition: 0.4s;
}
button{
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: white;
}
.all{
    background-color: black;
    color: white;
}
.Europe{
    color: green;
    font-weight: bold;
}
.Americas{
    color: orange;
    font-weight: bold;
}
.Asia{
    color: red;
    font-weight: bold;
}
.Africa{
    color: blue;
    font-weight: bold;
}
.Oceania{
    color: brown;
    font-weight: bold;
}
.Polar{
    color: black;
    font-weight: bold;
}
.procurar{
    margin: 10px;
}
input{
    border: 0 solid;
    border-bottom: 1px black solid;
    width: 60%;
    padding: 7px;
}
